#!/usr/bin/env bash

# Create a new directory and enter it
function mkcd() {
	mkdir -p "$@" && cd "$_";
}

# Starts an HTTP server using Python 3's http.server module from a directory and optionally specifying the port
#
# Examples
# httpServer
# httpServer 3000
function httpserver() {
  local port="${1:-8000}"
  python3 -m http.server "$port"
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}
